<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bagger</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

</head>
<body>
    <h1>Bagger List</h1>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Days</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13</td>
                <td>Christopher Sparks</td>
                <td>FRI-SAT-SUN</td>
                <td>4058 Likini St Honolulu HI 96818</td>
                <td>808-404-9807</td>
                <td>Head, Express, Carts, Standard</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Roselle Mallari</td>
                <td>SAT-SUN</td>
                <td>Fake St Honolulu HI 96818</td>
                <td>808-111-1111</td>
                <td>Head, Express</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Sydney</td>
                <td>TUES-THURS-SAT-SUN</td>
                <td>Fake St Honolulu HI 96818</td>
                <td>808-111-1111</td>
                <td>Head, Express, Standard</td>
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Days</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Roles</th>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript" src="/js/bagger.js"></script>
</body>
</html>